Source: opentracker
Section: net
Priority: extra
Maintainer: Bryce Larson <brycelarsn@gmail.com>
Build-Depends: debhelper (>= 9), zlib1g-dev, make, c-compiler
Standards-Version: 4.1.1
Homepage: https://erdgeist.org/arts/software/opentracker/
Vcs-Git: git://erdgeist.org/opentracker
Vcs-Browser: https://erdgeist.org/gitweb/opentracker/

Package: opentracker
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, zlib1g
Description: An open and free bittorrent tracker
 opentracker is a open and free bittorrent tracker project. It aims for
 minimal resource usage and is intended to run at your wlan router.
 Currently it is deployed as an open and free tracker instance.
